<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrate Hotels</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="slider">
        <span class="imgtext">
        <p id="wel">Chào mừng đến với</p>
        <h2 id="h1">Tích hợp dữ liệu khách sạn</h2>
        <p id="loremp">Tích hợp dữ liệu khách sạn từ các trang web dịch vụ du lịch </p>
        </span>
        <img src="images/slider.jpg" class="imag">
    </div>
    <div class="check">
        <form action="/search" class="search-form" method="GET">
            <input type="text" name="search-query" placeholder="Nhập tên địa điểm, khách sạn,..." class="searchbox">
            <button class="search-button" type="submit" aria-label="Search" id="searchbtn">Tìm kiếm</button>
        </form>
    </div>